image: alpine:latest

definitions:
  steps:
    - step: &push-current-branch
        name: Push current branch to GitHub
        script:
          - apk add --no-cache git openssh
          - git config --global user.name "bitbucket-pipeline"
          - git config --global user.email "pipeline@bitbucket.org"

          # SSH setup
          - mkdir -p ~/.ssh
          - ssh-keyscan github.com >> ~/.ssh/known_hosts

          # Clone repo
          - git clone $BITBUCKET_GIT_SSH_ORIGIN repo
          - cd repo

          # Checkout the branch that triggered the pipeline
          - git checkout $BITBUCKET_BRANCH

          # Push ONLY this branch to GitHub
          - git push git@github.com:JarssS8/test-pipelines.git $BITBUCKET_BRANCH

pipelines:
  branches:
    main:
      - step: *push-current-branch
    develop:
      - step: *push-current-branch
